{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mt-5">About Us</h1>
        <p class="lead">This application provides live cricket scores from an RSS feed. We are passionate about cricket and want to provide the best experience for our users.</p>
        <p>Our mission is to deliver real-time cricket scores in a clean, simple, and user-friendly interface. We hope you enjoy using our application!</p>
    </div>
</div>
{% endblock %}
